*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #D2DBE2 ;
    font-family: 'Roboto', sans-serif;
}


/* HEADER */
.mobile {
    display: none;
}

header{
    display: flex;
}

header img{
    display: inline;
    width: 11%;
    margin: 1%;
}

header ul{
    display: flex;
    margin-left: 1%;
}

header ul li{
    list-style-type: none;
    margin-top: 6%;
    width: 270px;
}

header ul li a{
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 1%;
}

span{
    text-decoration: red underline;
}


/* BANNIERE */
.sectionUne{
    display: flex;
    background: linear-gradient(156deg, rgba(40,48,128,1) 25%, rgba(82,120,171,1) 48%, rgba(195,229,236,1) 100%);
    padding: 4%;
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.488);
    box-shadow:  5px 5px rgba(0, 0, 0, 0.488);
}

.titre{
    text-align: center;
    padding: 5%;
}

h1{
    font-family: 'Audiowide', cursive;
    font-size: 6em;
    line-height: 150%;
}

h1 span{
    color: #FD8A69;
    text-decoration: none;
}

h2{
    font-size: 2.3em;
    margin-top: 7%;
    line-height: 130%;
}

.sectionUne img{
    width: 200%;
}


/* CARTES */
.titreUn{
    display: none;
}

.sectionDeux ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 10%;
    margin-left: 6%;
}

.sectionDeux ul li{
    margin-left: 2%;
    margin-right: 2%;
    width: 19%;
    height: 420px;
    border-radius: 8%;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.488);
    box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.195);
    padding: 5% 1%;  
}

.sectionDeux ul li a{
    font-size: 3em;
    text-decoration: none;
    color: white;
}

.cartes{
    text-align: center;
}

.sectionDeux .cartesO{
    background-color: #FD8A69;
}

.sectionDeux .cartesB{
    background-color: #11417D;
}

.sectionDeux .cartesV{
    background-color: #47A18B;
}

.sectionDeux .cartesG{
    background-color: #989999;
}

h3{
    font-size: 4em;
    text-transform: uppercase;
    border: solid black 1px;
    width: 73%;
    height: 200px;
    text-align: center;
    margin: auto;
    margin-top: 9%;
    padding-top: 2.2%;
    font-family: 'Audiowide', cursive;
    color: rgba(99, 99, 99, 0.655);
    border-radius: 20px;
    background-color: #D7D8D9;
}


/* CAMEMBERT */
.sectionTrois{
    background: radial-gradient(circle, rgba(190,191,201,1) 0%, rgba(255,255,255,1) 0%, rgba(142,146,152,1) 68%);
    padding: 10%;
    margin: 2%;
    border-radius: 30px;
    margin-top: 10%;
    margin-bottom: 8%;
    display: flex;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.593);
}

.sectionTrois .camembert{
    width: 25%;
    margin-left: 40%;
}

.sectionTrois .camembertMobile{
    display: none;
}

/* Camembert icones */
.sectionTrois .illustrations{
    position: absolute;
    width: 10%;
    margin-left: 0%;
}

.sectionTrois p{
    position: absolute;
    margin-top: 2%;
    font-size: 3.5em;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

.sectionTrois span{
    text-decoration: none;
    color: black;
}

.sectionTrois .iconeUne .illustrations{
    margin-left: 15%;
    margin-top: -6%;
}
.sectionTrois .iconeUne p{
    margin-left: 12%;
    margin-top: -4%;
}
.sectionTrois .iconeDeux .illustrations{
    margin-left: -2%;
    margin-top: 5%;
}
.sectionTrois .iconeDeux p{
    text-align: center;
    margin-left: -8%;
    margin-top: 3%;
    width: 25%;
}
.sectionTrois .iconeTrois .illustrations{
    margin-left: 12%;
    margin-top: 18%;
}
.sectionTrois .iconeTrois p{
    text-align: center;
    margin-left: 6%;
    margin-top: 18%;
    width: 24%;
}
.sectionTrois .iconeQuatre .illustrations{
    margin-left: 7%;
    margin-top: -6%;
}
.sectionTrois .iconeQuatre p{
    text-align: center;
    margin-left: 4%;
    margin-top: -6%;
}
.sectionTrois .iconeCinq .illustrations{
    margin-left: 20%;
    margin-top: 4%;
}
.sectionTrois .iconeCinq p{
    text-align: center;
    margin-left: 13%;
    margin-top: 5%;
}
.sectionTrois .iconeSix .illustrations{
    margin-left: 7%;
    margin-top: 18%;
}
.sectionTrois .iconeSix p{
    text-align: center;
    margin-left: 2%;
    margin-top: 18%;
    width: 20%;
}


/* FOOTER */
footer{
    display: flex;
    background: linear-gradient(330deg, rgba(40,48,128,1) 25%, rgba(82,120,171,1) 48%, rgba(195,229,236,1) 100%);
    padding: 5% 10%;
    font-size: 4em;
    color: white;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.488);
}

h4{
    text-decoration: underline;
    margin-bottom: 7%;
}

.contact{
    border-right: solid white 6px;
    padding-right: 14%;
    color: white;
}

.contact .tel{
    text-decoration: none;
}

.contact p{
    margin-bottom: 7%;
}

.contact a{
    color: white;
}
.fa-brands{
    display: inline-block;
    color: #11417D;
    background-color: white;
    border-radius: 50%;
    width: 20%;
    height: 120px;
    text-align: center;
    padding-top: 4%;
    margin-top: 6%;
}

.formulaire{
    background-color: #11417D;
    margin-left: 13%;
    padding: 2%;
    width: 40%;
    height: 800px;
    font-size: 0.5em;
    box-shadow: 12px 12px 2px 1px #fd896950;
}

input{
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 5%;
    border-radius: 4px;
    font-size: 1em;

}

.formulaire button{
    width: 100%;
    height: 100px;
    margin-bottom: 5%;
    border-radius: 4px;
    margin-top: 10%;
    font-size: 1em;
    background-color: #FD8A69;
    border: solid white 1px;
    color: white;
}

.reseauxDeux{
    display: none;
}



/*RESPONSIVE PORTABLE*/
@media screen and (max-width : 600px){

    body{
        background-color: white ;    
    }

    /* HEADER */
    header{
        position: relative;
    }

    header img{
        width: 30%;
        height: 100px;
        margin: 2%;
    }

    header ul{
        display:none;
        /* margin-left: 5%; */
    }

    .mobile{
        display: block;  
        position: relative;
    }

    .mobile .fa-bars{
        position: absolute;
        top: 30px; left: 190px;   
    }

    header{
        position: relative;
    }

    .menuburger a{
        font-size: 1em;
    }

    .mobile input{
        position: absolute;
        top: 30px; left: 190px;   
        width: 400%;     
    }

    .menuburger{
        width: 220px;
        height: 40%;
        padding: 5%;
        border-radius: 10px;
    }


    input:checked ~ .menuburger{
        background: #989999e1;
        padding-bottom: 4px;
        display: block;
        color: white;
        position: fixed;
        z-index: 1;
    }


    /* SECTION UNE BANNIERE */
    .titre{
        padding: 0%;
    }

    h2{
        line-height: 180%;
        margin-bottom: 20%;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.488);
    }

    .titre h1{
        font-size: 5em;
        line-height: 120%;
        margin-bottom: 20%;
        margin-top: 20%;
    }
    
    h2{
        font-size: 1.5em;
    }

    .sectionUne{
        display: flex;
        flex-wrap: wrap;  
    }

    .sectionUne img{
        width: 100%;
    }


    /* SECTION DEUX CARTES */
    .titreUn{
        display: block;
        font-size: 1.8em;
        height: 50%;
        padding: 4%;
        width: 83%;
        border-radius: 20px;
        margin-top: 20%;
    }

    h3{
        display: none;
    }

    .sectionDeux ul li{
        width: 40%;
        height: 150px;   
        margin-top: 9%;
        margin-left: 4%;
    }

    .sectionDeux ul li a{
        font-size: 1.2em;
        padding: 4%;
        line-height: 170%;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.488);
    }

    .sectionDeux .cartesO{
        margin-top: 8%;
    }

    .sectionDeux .cartesB{
        margin-top: 20%;
    }

    .sectionDeux .cartesV{
        margin-top: -3%;
        padding-top: 11%;
    }

    .sectionDeux .cartesG{
        padding-top: 8%;
        font-size: 0.9em;
    }


    /* CAMEMBERT */
    .sectionTrois{
        background: linear-gradient(180deg, rgba(201,207,207,1) 19%, rgba(225,233,233,1) 47%);
        height: 1400px;
    }

    .camembert{
        display: none;
    }

    .sectionTrois .camembertMobile{
        display: block;
        width: 80%;
        height: 18%;
        margin: auto;
        margin-top: 0%;
    }

    /* Camembert icones */
    .sectionTrois .iconeUne .illustrations{
        margin-left: 28%;
        margin-top: 90%;
        width: 26%;
    }

    .sectionTrois .iconeUne p{
        margin-left: 30%;
        margin-top: 92%;
        font-size: 2em;
        width: 28%;
    }

    .sectionTrois .iconeDeux .illustrations{
        margin-left: 28%;
        margin-top: 130%;
        width: 26%;
    }

    .sectionTrois .iconeDeux p{
        text-align: center;
        margin-left: -3%;
        margin-top: 130%;
        font-size: 2em;
        width: 90%;
    }

    .sectionTrois .iconeTrois .illustrations{
        margin-left: 28%;
        margin-top: 170%;
        width: 26%;
    }

    .sectionTrois .iconeTrois p{
        text-align: center;
        margin-left: -3%;
        margin-top: 170%;
        font-size: 2em;
        width: 90%;
    }

    .sectionTrois .iconeQuatre .illustrations{
        margin-left: -50%;
        margin-top: 210%;
        width: 26%;
    }

    .sectionTrois .iconeQuatre p{
        text-align: center;
        margin-left: -83%;
        margin-top: 212%;
        font-size: 2em;
        width: 90%;
    }

    .sectionTrois .iconeCinq .illustrations{
        margin-left: -50%;
        margin-top: 250%;
        width: 26%;
    }

    .sectionTrois .iconeCinq p{
        text-align: center;
        margin-left: -63%;
        margin-top: 255%;
        font-size: 2em;
        width: 50%;
    }

    .sectionTrois .iconeSix .illustrations{
        margin-left: -50%;
        margin-top: 300%;
        width: 26%;
    }

    .sectionTrois .iconeSix p{
        text-align: center;
        margin-left: -62%;
        margin-top: 305%;
        font-size: 2em;
        width: 50%;
    }

    /* FOOTER */
    footer{
        background: #3E5E86;
        font-size: 1.5em;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.488);
    }

    .contact{
        text-align: center;
        border-right: none;
        padding-right: 10%;
        color: white;
        padding-left: 10%;
        padding-top: 10%;
    }

    .formulaire{
        width: 400px;
        height: 40%;
        margin: 0%;
        font-size: 0.8em;
        margin-top: 30%;
    }

    input{
        height: 50px;
    }

    .formulaire button{
        height: 60px;
        font-size: 1.2em;
    }

    .reseauxDeux{
        display: flex;
    }

    .reseauxDeux a i{
        margin-top: 50px;
        width: 80px;
        height: 80px;
        margin-left: 10px;
        font-size: 1.8em;
        padding-top: 18%;
        margin-bottom: 40%;
    }

    .contact p{
        margin-top: 15%;
    }

    .reseaux{
        display: none;
    }
}