*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carte{
    width: 700px;
    height: 700px;
    background-color: grey;
    border-radius: 40px;
    margin: auto;
    margin-top: 3% ;
    padding: 5%;
    padding-top: 6%;
}

h3{
    margin-top: 20%;
    background-color: rgb(69, 69, 69);
    width: 600px;
    margin: auto;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.données p{
    text-align: end;
}

.liste ol{
background-color: rgb(225, 220, 220);
width: 600px;
height: 160px;
border-radius: 10px;
padding-left: 40px ;
font-size: 1.5em;
padding-top: 3%;
margin-top: 20%;
}
#carteUne{
    background-color: rosybrown;
}